/* Global RULES */
:root {
	--main-color: #2196f3;
	--main-color-alt: #1787e0;
	--light-gray-1: #fafafa;
	--text-light-grey: #777;

	--sections-main-background: #ececec;

	--main-transition-duration: .3s;

	--header-height: 4.5rem;
}
/* 🔔🔔🔔 other reset's and box-sizing rules are in the My-Framewokr.css */
body {
	font-family: 'cairo', sans-serif;
}

.container {
	margin: 0 auto;
	padding: 0 var(--space-base);
}

@media (min-width: 768px) {
	.container {
		width: 750px;
	}
}

@media (min-width: 992px) {
	.container {
		width: 970px;
	}
}

@media (min-width: 1200px) {
	.container {
		width: 1170px;
	}
}

section {
	padding: var(--space-3xl) 0;
}
/* End Global Rules */
/* Start Components */
.section-heading  h2{
	--animation-duration: .5s;

	position: relative;

	width: fit-content;
	margin: 0 auto;
	margin-bottom: 4rem;
	padding: var(--space-m) var(--space-upper-base);
	border: 2px solid black;

	text-align: center;
	font-size: 1.875rem;
	font-weight: bold;
	text-transform: uppercase;
	
	transition: var(--animation-duration);

	z-index: 2;
}

.section-heading h2:hover {
	border-color: white;
	
	color: white;

	transition-delay: var(--animation-duration);
}


.section-heading h2::before,
.section-heading h2::after {
	content: "";

	position: absolute;
	top: 50%;

	width: .75rem;
	height: .75rem;
	border-radius: 50%;

	background-color: var(--main-color);

	translate: 0 -50%;

	z-index: -1;
}

.section-heading h2::before {
	left: 0;

	transform: translateX(-2rem);
}

.section-heading h2::after {
	right: 0;
	
	transform: translateX(2rem);
}
.section-heading h2:hover::before,
.section-heading h2:hover::after{
	animation: fill-half var(--animation-duration) linear forwards;
}

@keyframes fill-half {
	50% {
		width: .75rem;
	height: .75rem;
	border-radius: 50%;
	transform: translateX(0);
	}
	
	100% {
		height: 100%;
		width: 50%;
		border-radius: 0;

		transform: translateX(0);
	}
}

/* End Components */
/* Start Header */
header {
	box-shadow: 0 0 10px 0 #ddd;

	background-color: white;
}

header .container {
	position: relative;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
@media (max-width: 767px) {
	header .container {
		flex-direction: column;
	}
}

header .logo,
header .main-nav-link {
	display: flex;
	justify-content: center;
	align-items: center;

	height: var(--header-height);
}

header .logo {
	color: var(--main-color);
	font-weight: bold;
	font-size: 1.6rem;
}

@media (max-width: 767px) {
	header .logo {
		height: 3.125rem;
		padding-top: var(--space-s);
	}
}

header nav > ul {
	display: flex;
	align-items: center;
}

header .main-nav-link {
	position: relative;

	padding: 0 var(--space-lg);

	font-size: 1.125rem;

	transition: var(--main-transition-duration);
}
@media (max-width: 767px) {
	header .main-nav-link {
		height: 2.5rem;
		padding: var(--space-m);

		font-size: .875rem;
	}
}

header .main-nav-link::before {
	content: '';

	position: absolute;
	top: 0;
	left: 0;

	width: 0;
	height: 4px;

	background-color: var(--main-color);
	transition: inherit;
}

header .main-nav-link:hover {
	background-color: var(--light-gray-1);	

	color: var(--main-color);
}

header .main-nav-link:hover::before {
	width: 100%;
}
/* End Header */
/* Start Mega-Menue */
li:has(a[href="#other"]):hover .mega-menu {
	top: 100%;

	opacity: 1;
	z-index: 10;
}

header .mega-menu {
	position: absolute;
	top: calc(100% + 2rem);
	left: 0;

	display: flex;
	align-items: center;
	gap: var(--space-lg);

	width: 100%;
	padding: var(--space-upper-mid);
	border-bottom: 4px solid var(--main-color);

	background-color: white;

	transition: top var(--main-transition-duration), opacity var(--main-transition-duration);

	opacity: 0;
}

@media (max-width: 992px) {
	header .mega-menu .image {
		display: none;
	}
}

header .mega-menu .links {
	flex: 1;
}

@media (max-width: 767px) {
	header .mega-menu {
		flex-direction: column;
		align-items: stretch;
		gap: unset;

		padding: unset;
		padding-bottom: var(--space-s);
	}
}

.mega-menu .links li:not(:last-child) {
	border-bottom: 1px solid #e9e6e6;
}

@media (max-width: 767px) {
	header .mega-menu .links:nth-child(2)  li:last-child {
		border-bottom: 1px solid #e9e6e6;
	}
}

header .mega-menu .links a {
	position: relative;

	display: block;

	min-width: 250px;
	padding: var(--space-base);

	color: var(--main-color);
	font-size: 1.125rem;
	font-weight: bold;
}

header .mega-menu .links a::before {
	content: '';

	position: absolute;
	top: 0;
	left: 0;

	width: 0;
	height: 100%;

	background-color: var(--light-gray-1);

	transition: var(--main-transition-duration);

	z-index: -1;
}

header .mega-menu .links a:hover::before {
	width: 100%;
}

header .mega-menu .links a i {
	margin-right: var(--space-m);
}
/* End Mega-Menue */
/* Start Landing */
.hero {
	position: relative;

	/* Just a fallback */
	height: calc(100vh - var(--header-height));
	height: calc(100dvh - var(--header-height));
}

.hero::before {
	content: '';

	position: absolute;
	top: -3rem;
	left: 0;

	width: 100%;
	height: 100%;

	background-color: #ececec;

	transform-origin: top left;
	transform: skew(0deg, -6deg);

	z-index: -1;
}

.hero .container {
	display: flex;
	align-items: center;

	height: 100%;
	padding-bottom: 8rem;
}

.hero .text {
	max-width: 500px;
}

.hero .text h1 {
	font-size: 2.5rem;
	letter-spacing: -2px;
}

.hero .text p {
	color: #666;
	font-size: 1.5rem;
	line-height: 1.5;
}

@media (max-width: 767px) {
	.hero .text {
		text-align: center;
		max-width: unset;
	}

	.hero .text h1 {
		font-size: 2rem;
	}

	.hero .text p {
		font-size: 1.25rem;
	}
	.hero .image {
		display: none;
	}
}

.hero img {
	max-width: 100%;
	animation: slide-image 5s infinite linear;
}

@keyframes slide-image {
	50% {
		translate: 0 -50px;
	}
}

.hero i {
	position: absolute;
	bottom: var(--space-lg);
	left: 50%;

	color: var(--main-color);

	animation: bounce-arrow 1.5s infinite;
	animation-delay: .5s;

	translate: -50%;
}
.hero i:hover {
	color: var(--main-color-alt);
}
@keyframes bounce-arrow {
	0%, 20%, 50%, 80%, 100% {
		transform: translateY(0);
	}

	40%, 60% {
		transform: translateY(-15px);
	}
}
/* End Landing */
/* Start Aricles */
.articles .boxes {
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(15.5rem, 1fr));
	gap: var(--space-xl);
}

.articles article {
	border-radius: 7px;
	overflow: hidden;
	
	box-shadow: 0 2px 15px rgb(0 0 0 / 10%);

	transition: var(--main-transition-duration);
}

.articles article:hover {
	transform: translateY(-10px);
	box-shadow: 0 2px 15px rgb(0 0 0 / 20%);
}

.articles .text {
	padding: var(--space-upper-base);
	border-bottom: 1px solid #e6e6e7;
}

.articles .text h3 {
	margin-bottom: var(--space-s);
}

.articles .text p {
	color: var(--text-light-grey);
	line-height: 1.5;
}

.articles article .footer {
	display: flex;
	justify-content: space-between;
	align-items: center;

	padding: var(--space-upper-base);

	color: var(--main-color);
	font-weight: bold;
}

.articles article .footer i {
	font-size: .9rem;
}
.articles article:hover .footer i {
	animation: move-left .6s infinite linear;
}
@keyframes move-left {
	to {
		translate: 10px;
	}
}
/* End Aricles */
/* Start Gallery */
.gallery {
	position: relative;
	background-color: var(--sections-main-background);
}

.gallery::before {
	content: '';

	position: absolute;
	top: 0;
	left: 0;

	width: 100%;
	height: 2rem;

	background-size: 2rem 100%;
	background-image:
		linear-gradient(to bottom right, white 25%, transparent 25%),
		linear-gradient(to bottom left, white 25%, transparent 25%);
}

.gallery .boxes {
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(18.75rem, 1fr));
	/* It's wierd I know */
	/* Otherwise i'll just do something more wierd.. like mid-lg after lg and before xl..  */
	/* Dont' like it? .. Give me something more created in a comment or a pull request */
	/* I have no idea why i'm writing this and not just go quickly check any AI to help with that */
	/* Stop writing. .................................. */
	gap: calc(var(--space-xl) - .25rem);
}

.gallery .box {
	padding: var(--space-base);

	background-color: white;

	box-shadow:
		0 12px 20px 0 rgb(0 0 0 / 12.5%),
		0 2px 4px 0 rgb(0 0 0 / 10%);	
}

.gallery .image {
	position: relative;

	overflow: hidden;
}

.gallery .box:hover img {
	transition: var(--main-transition-duration);

	transform: rotate(5deg) scale(1.1);
}

.gallery .image::before {
	content: '';

	position: absolute;
	top: 50%;
	left: 50%;

	width: 0;
	height: 0;

	background-color: rgba(255, 255, 255, 0.2);

	translate: -50% -50%;

	opacity: 0; 
	z-index: 10;
}

.gallery .box:hover .image::before {
	animation: flash .7s;
}

@keyframes flash {
	0%, 40% {
		opacity: 1;
	}
	
	100% {
		width: 200%;
		height: 200%;

		opacity: 0;
	}
}
/* End Gallery */
/* start Features */
.features .boxes {
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(18.75rem, 1fr));
	gap: var(--space-xl);
}

.features .feature {
	border: 1px solid #ccc;
}

.features .feature:nth-child(1) {
	--feature-theme-rgb: 244, 64, 54;
}
.features .feature:nth-child(2) {
	--feature-theme-rgb: 0, 150, 135;
}
.features .feature:nth-child(3) {
	--feature-theme-rgb: 3, 169, 244;
}


.features .feature .image {
	position: relative;

	overflow: hidden;

	transition: 3s;
}

.features .feature .image::before {
	content: '';

	position: absolute;
	top: 0;
	left: 0;

	width: 100%;
	height: 100%;

	background-color: rgba(var(--feature-theme-rgb), .6);
}

.features .feature .image::after {
	content: '';

	position: absolute;
	bottom: 0;
	right: 0;

	border-style: solid;
	border-color: transparent transparent white transparent;
	border-width: 0px 0px 170px 650px;

	transition: var(--main-transition-duration);
}

.features .feature:hover .image::after {
	border-right-width: 650px;
}

.features .feature .text {
	padding: var(--space-upper-mid);

	text-align: center;
}

.features .feature h3 {
	width: fit-content;
	margin: 0 auto;
	margin-bottom: var(--space-lg);
	padding-bottom: var(--space-base);
	border-bottom: 5px solid;
	border-image:
		1
		linear-gradient(
			to right,
			transparent 10%,
			rgb(var(--feature-theme-rgb)) 10% 90%,
			transparent 90%);

	font-size: 2.5rem;
}

.features .feature p {
	margin-bottom: var(--space-xl);

	color: var(--text-light-grey);
	font-size: 1.25rem;
	line-height: 2;
}

.features .feature a {
	display: block;

	width: fit-content;
	margin: auto;
	padding: var(--space-m) var(--space-upper-base);
	border: 3px solid;
	border-radius: 10px;;
	overflow: hidden;

	background: linear-gradient(to right, rgb(var(--feature-theme-rgb)) 50%, transparent 50%);
	background-size: 200% 100%;
	background-position: right bottom;

	color: rgb(var(--feature-theme-rgb));
	font-size: 1.3rem;
	font-weight: bold;

	transition: var(--main-transition-duration);

	z-index: 2;
}

.features .feature:hover a {
	background-position: left bottom;

	color: white;
}
/* End Features */
/* Start Testimonials */
.testimonials {
	background-color: var(--sections-main-background);
}

.testimonials .boxes {
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(18.75rem, 1fr));
	gap: var(--space-lg);
}

.testimonials .testimonial {
	position: relative;

	padding: var(--space-upper-base);
	border-radius: 7px;

	box-shadow: 0 2px 4px rgb(0 0 0 / 10%);

	background-color: white;
}

.testimonials .testimonial img {
	--border-width: 10px;
	position: absolute;
	top: 0;
	right: calc(-1 * var(--border-width));

	width: 6rem;
	aspect-ratio: 1;
	border-radius: 50%;
	border: var(--border-width) solid var(--sections-main-background);

	transform: translateY(-50%);
}
.testimonials .testimonial h3,
.testimonials .role,
.testimonials .rate {
	margin-bottom: var(--space-s);
}

.testimonials h3 {
	font-size: 1.1rem;
	font-weight: bold;
}

.testimonials .role,
.testimonials .text {
	color: var(--text-light-grey);
}

.testimonials .rate {
	display: flex;
	gap: var(--space-xs);
}

.testimonials .rate .filled {
	color: gold;
}

.testimonials .testimonial .text {
	line-height: 1.5;
}
/* End Testimonials */
/* Start Team Members */
/* No pun intended */
.team .members {
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(18.75rem, 1fr));
	gap: var(--space-upper-mid);
}

.team .box {
	--off-distance: var(--space-2xl);

	position: relative;

	padding-top: var(--off-distance);

	z-index: 10;
}

.team .box::before,
.team .box::after {
	content: '';

	position: absolute;
	top: 0;
	right: 0;

	height: 100%;
	border-radius: 5px;
}
.team .box::before {
	width: calc(100% - var(--off-distance));

	background-color: #f3f3f3;

	z-index: -20;
}
.team .box::after {
	width: 0;

	background-color: #e4e4e4;

	z-index: -10;
}

.team .box::after,
.team .box .visuals img,
.team h3,
.team .box .socials a {
	transition: var(--main-transition-duration);
}

.team .box:hover::after {
	width: calc(100% - var(--off-distance));
}

.team .box .visuals {
	display: flex;
}

.team .box .visuals img {
	border-radius: 10px;
}

.team .box:hover .visuals img {
	filter: grayscale(1);
}

.team .box .socials {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: stretch;

	min-width: var(--off-distance);

	color: var(--text-light-grey);
	text-align: center;
}

.team .box .socials a {
	height: 2.5rem;
}
.team .socials a:hover {
	color: var(--main-color);
}

.team .text {
	margin-left: var(--off-distance);
	padding: var(--space-base);
}

.team h3 {
	margin-bottom: var(--space-m);

	color: var(--main-color);
}

.team .box:hover h3 {
	color: var(--text-light-grey);
}
/* End Team Members */
/* Start Services */
.services {
	background-color: var(--sections-main-background);
}

.services .boxes {
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(18.75rem, 1fr));
	gap: var(--space-lg);

	counter-reset: service-counter;
}

.services .service {
	position: relative;

	padding-top: var(--space-lg);

	box-shadow:
	rgba(0, 0, 0, 0.13) 0px 12px 20px 0px,
	rgba(0, 0, 0, 0.12) 0px 2px 4px 0px;
	background-color: white;

	text-align: center;
}

.services .service,
.services .service::before {
	transition: var(--main-transition-duration);
}

.services .service:hover {
	translate: 0 -10px;
}

.services .service::before {
	--height: 4px;

	content: '';

	position: absolute;
	top: calc(-1 * var(--height));
	left: 50%;

	width: 0;
	height: var(--height);

	background-color: var(--main-color);

	translate: -50%;
}

.services .service:hover::before {
	width: 100%;
}

.services .service i {
	margin-bottom: var(--space-upper-mid);

	color: #d5d5d5;
}

.services .service h3 {
	margin-bottom: var(--space-lg);

	color: var(--main-color);
	font-size: 1.6rem;
}

.services .card-footer {
	display: flex;
	justify-content: space-between;
	align-items: center;

	padding: var(--space-m) 0;

	background-image: linear-gradient(
		120deg,
		var(--main-color) 5em,
		#d5d5d5 5em 7.5em,
		#f9f9f9 7em
	)
}

.services .service .card-footer::before {
	content: '0' counter(service-counter);

	padding-left: var(--space-upper-base);

	color: white;
	font-size: 1.8rem;
	font-weight: bold;

	counter-increment: service-counter;
}

.services .service .card-footer a {
	padding: 0 var(--space-m);

	color: var(--main-color);
}
/* End Services */
